<div>
<table class="table">
    <thead>
        
        <th>Name</th>
        <th>Cost</th>
        <th>Remove</th>
     
    </thead>
    <tbody>
        <tr *ngFor="let item of billItems">
           
            <td>{{item.item_name}}</td>
            <td>{{item.item_cost}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="onRemoveItem(item)">
                    Remove
                </button></td>
         

        </tr>
    </tbody>
    </table>

</div>
<p>Total: {{total}}</p>
