<div class="flex-container">
    <div class="flex-menu">
<table class="table">
    <thead>
        <th> Id</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of foodItems">
            <td>{{item.item_id}}</td>
            <td>{{item.item_name}}</td>
            <td>{{item.item_cost}}</td>
            <td><button class="btn btn-primary" (click)="addItem(item)">Add</button></td>
        </tr>
    </tbody>
</table>
</div>
<div class="flex-bill">
    <app-bill [billItems]="billItems" (removeItem)=addRemovedItem($event)></app-bill>
</div>
</div>